* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  list-style-type: none;
}
body {
  background: aliceblue;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.resume-container {
  width: 100%;
  background: aliceblue;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
  padding: 8rem 0;
  min-height: 100vh;
}
.resume-container .resume-wrapper {
  display: flex;
  flex-direction: row;
  width: 70%;
  padding: 3rem 0;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  flex-wrap: wrap;
}

.resume-wrapper .resume-col {
  background: #ffff;
  width: 400px;
  position: relative;
  padding: 1.5rem;
  border: 1px solid #b4becb;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.resume-col i.fas {
  position: absolute;
  top: 13px;
  left: 14px;
  color: #555;
  font-size: 1.6rem;
  cursor: pointer;
}
.resume-wrapper .resume-col p {
  font-size: 1rem;
  font-weight: normal;
  color: #333;
  padding: 1rem 0;
}
.cssbuttons-io-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  font-size: 17px;
  padding: 0.8em 1.5em 0.8em 1.2em;
  color: white;
  background: #ad5389;
  background: linear-gradient(
    0deg,
    rgba(77, 54, 208, 1) 0%,
    rgba(132, 116, 254, 1) 100%
  );
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #4d36d0be;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.cssbuttons-io-button svg {
  margin-right: 8px;
}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #4d36d0be;
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #4d36d0be;
}

/*============================= FOR SMALLER SCREEN SIZES ============================*/
@media only screen and (max-width: 689px) {
  .resume-container {
    padding: 2rem 0;
  }
}
